@import "tailwindcss";

/* chrome,safari,opera */
.scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  
  /* IE,edge,firefox */
  .scrollbar-none {
    -ms-overflow-style: none;  /* IE, edge*/
    scrollbar-width: none;     /*firefox */
  }
  
  
  